.header{
	background: #ff8080;
	width:900px;
	height:100px;
	margin:0 auto;

}

.header h1{
	text-align: center ;
	margin-right: 20px;
	font-family: verdana;
}

.header small {
	font-size: 50%;
	border-bottom: 1px solid #660000
}

.menu{
	background: #660000;
	width:900px;
	height:40px;
	margin:0 auto;
}

.menu ul li{
	display: inline;

}

.menu ul li a {
	color : #fff;
	margin : 15px 15px ;
}

.menu ul li a:hover{
	color: #ff4d88 ;

}
.content{
	width:900px;
	height:400px;
	margin:0 auto;
	background: #ffcccc;
}

.subs {
	width:290px;
	height: 380px;
	background: #ffb3cc;
	border-radius: 10px;
	float :left;
	margin: 5px;

}